                     /* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

menu,
ol,
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

                               /* LAYOUT */

.container{
    height: 100vh;
    padding: 20px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

}

.sidebar{
    flex-shrink: 0;
    display: none;
}

.chat{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.main.col{
    flex-grow: 1;
}


                  /* DEBUG */


.debug .container{
    background-color: dodgerblue;
    /* padding: 20px; */
    border: 1px solid black;

}

.debug .row{
    background-color: indianred;
    /* padding: 20px; */
    height: 100%;
    border: 1px solid black;


}

.debug .col{
    background-color: lightslategrey;
    padding: 20px;
    border: 1px solid black;


}

                                    /* RESPONSIVE BREAKPOINT */

@media (min-width: 566px){
    .row{
        width: 100%;
    }
}

@media (min-width: 758px){
    .sidebar{
        display: block;
        width: 100px;
    }
}

@media (min-width: 982px){
    .sidebar{
        width: 200px;
    }

    .row{
        width: 80%;
    }
}


