                     /* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

menu,
ol,
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

                               /* LAYOUT */

.container{
    height: 100vh;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

}

                     /* SIDEBAR */

.sidebar{
    flex-shrink: 0;
    display: none;
}

.io-col{
    display: flex;
    justify-content: space-between;
}

.notifiche-col{
    display: none;
}

.icon{
    display: none;
}


.cerca-col{
    display: none;
}

.contatti-col{
    
}

                                 /* CONTENT */

.header-col{
    display: flex;
    justify-content: space-between;
}

.profile{
    display: flex;
}

.icon-header{
    display: none;
}

.chat{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.audio{
    display: none;
}

.emoji{
    display: none;
}


.main.col{
    flex-grow: 1;
}

.footer-col{
    display: flex;
    justify-content: space-between;
}


                  /* DEBUG */


.debug .container{
    background-color: dodgerblue;
    /* padding: 20px; */
    border: 1px solid black;

}

.debug .row{
    background-color: indianred;
    /* padding: 20px; */
    height: 100%;
    border: 1px solid black;


}

.debug .col{
    background-color: lightslategrey;
    /* padding: 20px; */
    border: 1px solid black;


}

                                    /* RESPONSIVE BREAKPOINT */

@media (min-width: 566px){
    .row{
        width: 100%;
    }
}

@media (min-width: 758px){
    .sidebar{
        display: block;
        width: 80px;
    }

    .icon-header{
        display: inline-block;
    }

    .audio{
        display: inline-block;
    }

    .emoji{
        display: inline-block;
    }

   
    
}

@media (min-width: 982px){
    .sidebar{
        width: 250px;
    }

    .row{
        width: 80%;
    }

    .container{
        padding: 20px;
    }

    .icon{
        display: inline-block;
    }

    .notifiche-col{
        display: block;
    }

    .cerca-col{
        display: block;
    }

    .notifiche-col{
        display: flex;
        /* justify-content: flex-start; */
   }
}


