                     /* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

menu,
ol,
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

                               /* LAYOUT */

.container{
    height: 100vh;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.sidebar{
    flex-shrink: 0;
    /* display: none; */
}

.chat{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.main.col{
    flex-grow: 1;
}


                  /* DEBUG */


.debug .container{
    background-color: dodgerblue;
    padding: 20px;
    border: 1px solid black;

}

.debug .row{
    background-color: indianred;
    padding: 20px;
    height: 100%;
    border: 1px solid black;


}

.debug .col{
    background-color: lightslategrey;
    padding: 20px;
    border: 1px solid black;


}


